body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  background-color: #faf9f7;
  color: #4a3f3f;
}

/* Headeri */

.nav {
  background-color: rgba(227, 210, 179, 0.916);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  letter-spacing: 3px;
  flex-wrap: wrap; /* per responsivitet */
  justify-content: center; /* per responsivitet */
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.nav ul li h2 a {
  font-size: 34px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.nav ul li a:hover {
  color: rgb(206, 172, 114);
}

.nav ul li h2 a:hover {
  color: rgb(206, 172, 114);
}

.projects-intro {
  text-align: center;
  font-size: 22px;
  color: #7a5a5a;
  margin: 60px auto 40px;
  padding: 0 20px;
  max-width: 900px;
  line-height: 1.8;
}

/* Intro */
.contact-intro {
  text-align: center;
  padding: 60px 20px 40px;
}

.contact-intro h1 {
  font-size: 44px;
  margin-bottom: 20px;
}

.contact-intro p {
  font-size: 20px;
  color: #7a5a5a;
  max-width: 800px;
  margin: 0 auto;
}

/* Contact Container */
.contact-container {
  display: flex;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto 80px;
  padding: 0 20px;

  flex-wrap: wrap; /* per responsivitet */
}

.contact-info,
.contact-form {
  flex: 1 1 400px;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.contact-info h2,
.contact-form h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #926c6c;
}

.contact-info p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%; /* per responsivitet */
  box-sizing: border-box; /* per responsivitet */

  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
}

.contact-form form button {
  background-color: #ceac72;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  transition: 0.3s;
}

.contact-form form button:hover {
  background-color: #b8955c;
}


.error-style {
    color: rgb(241, 81, 81); 
    font-size: 11px;
    margin-top: -10px; 
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    min-height: 15px;
}

.contact-form form input, 
.contact-form form textarea {
    margin-bottom: 12px;
}



/* Footeri */

.footer {
  background-color: #4a3f3f;
  color: rgba(227, 210, 179, 0.95);
  font-family: "Cormorant Garamond", serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* per responsivitet */
  padding: 5px 50px;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.footer-column h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #ceb0b0;
}

.footer-column p,
a {
  font-size: 16px;
  margin: 5px;
  color: #ceb0b0;
  text-decoration: none;
}

.footer-column a:hover {
  color: #ceac72;
}

.footer-bottom {
  text-align: center;
  padding: 5px;
  font-size: 15px;
  border-top: 1px solid rgba(198, 193, 193, 0.5);
  color: #ceb0b0;
}
