* {
  font-family: "Cormorant Garamond", serif;
}

body {
  margin: 0;
}

header {
  position: relative;
  width: 100%;
}

.nav {
  background-color: rgba(227, 210, 179, 0.916);
  display: flex;
  justify-content: center;
   margin-bottom: 60px; 
}

.nav ul {  
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  letter-spacing: 3px;
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.nav ul li h2 a {
  font-size: 44px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.nav ul li h2 a:hover {
  color: rgb(206, 172, 114);
}

.nav ul li a:hover {
  color: rgb(206, 172, 114);
}


.table-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
table {
    color: rgb(142, 132, 119);
    border-spacing: 0;
    letter-spacing: 1px;
    border-color: #f1e8b6;
}

#thUsers{
    background-color: #f1e8b6;
}
.tabela{
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}

.tabela th,
.tabela td {
    padding: 10px;
}
