*{
    font-family: Lucida Bright;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(foto11.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; /* nuk e len mu bo scroll */
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
form{
    background-color: rgb(206, 205, 202);
    padding: 10px 0px 30px 0px;
    border-radius: 10px;
    border:none;
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}


.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    max-width: 440px; 
    height: auto; 
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(121, 119, 117);
    margin: 10px;
}
.welcome-sign{
    text-align: center;
    letter-spacing: 2px;
}
.google-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 3px;
    
}
.g-btn{
    display: flex;
    align-items: center;
    text-align:center;
    gap: 26px;
    padding: 10px 20px;
    width: 100%; 
    margin: 0px 50px; 
    border-radius:12px;
    border:none;
    color:rgb(138, 137, 140);
    background-color: rgb(251, 252, 252);
}
.g-btn:hover{
    background-color: #f0e9e9;
}
.google-sign button img{
    width: 20px;
    height: 22px;
    padding-left: 32px;
} 
.separator-div{
   margin: 0px 50px; 
}
.separator{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%; 
}
.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #9a8b8b; 
}

.separator::before {
    margin-right: 10px;
}

.separator::after {
    margin-left: 10px;
}

.separator span {
    color: #5b5151; 
    font-size: 14px;
}
.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0px 50px; 
}

.input-box input{
   padding: 10px;
   width: 100%;
   border-radius: 12px;
  border: none;
  color: rgb(54, 54, 52);
  background-color: rgb(251, 252, 252);
}

.input-field::placeholder{
   font-size: larger;
   color: rgb(132, 134, 133);
}
.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.sign-up a{
text-decoration: none;
color: rgb(52, 47, 34);
}
.sign-up a:hover{
    text-decoration: underline;
}
.sign-up p a{
margin-left: 66px;
}
.log-in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px; 
}
.log-in button{
padding: 10px;
border-radius: 19px;
width: 100%; 
border: none;
color: rgb(238, 245, 242);
background-color: rgb(103, 103, 95);
font-size: 21px;
cursor: pointer;
}
.log-in button:hover{
    background-color: #898585;
}
#mesazhi{
        color: rgb(241, 81, 81);
        font-size: 11px;
        margin-left:40px;
        margin-right: 40px;
    }
    #mesazhi1{
          color: rgb(241, 81, 81);
        font-size: 11px;
        margin-right: 150px;
    }
    #mesazhi2{
          color: rgb(241, 81, 81);
        font-size: 11px;
        margin-right: 150px;
    }
