*{
    font-family: Lucida Bright;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(foto11.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}
.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
     height: calc(100vh - 50px);
}
form{
    background-color: rgb(206, 205, 202);
    padding: 20px;
    border-radius: 10px;
    border:none;
    width: 500px;
    height: 600px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.navdiv a {
    color:rgb(123, 123, 123);;       
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;  
    padding-left: 20px; 
    letter-spacing: 3px;
}

header{ 
margin-top: 0;
padding-top: 0;
width: 100%;                
}
.nav {
  background-color:rgb(206, 205, 202);; 
  height: 50px;                                    
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 440px;
    height: 480px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(121, 119, 117);
}
.welcome-sign{
    text-align: center;
    letter-spacing: 1px;
}
.google-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 3px;
    
}
.g-btn{
    display: flex;
    align-items: center;
    text-align:center;
    gap: 26px;
    padding: 10px 20px;
    width:300px;
    border-radius:12px;
    border:none;
    color:rgb(138, 137, 140);
    background-color: rgb(251, 252, 252);
}
.google-sign button img{
    width: 20px;
    height: 22px;
    padding-left: 32px;
} 
.separator-div{
   padding-left: 100px;
    width:300px;
    margin: 0;
}
.separator{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px 0;
}
.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #9a8b8b; 
}

.separator::before {
    margin-right: 10px;
}

.separator::after {
    margin-left: 10px;
}

.separator span {
    color: #5b5151; 
    font-size: 14px;
}
.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-box input{
   padding: 10px;
   width: 300px;
   border-radius: 12px;
  border: none;
  color: rgb(54, 54, 52);
  background-color: rgb(251, 252, 252);
}

.input-field::placeholder{
   font-size: larger;
   color: rgb(132, 134, 133);
}
.log-in{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.log-in p a{
text-decoration: none;
color: rgb(38, 34, 24);
}
.log-in a:hover{
    text-decoration: underline;
}
.log-in{
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in button{
padding: 10px;
border-radius: 19px;
width:300px ;
border: none;
color: rgb(238, 245, 242);
background-color: rgb(103, 103, 95);
font-size: 21px;
cursor: pointer;
}
p a{
    margin-left: 66px;
    
}

