*{
    text-decoration: none;
}

header {
  background-image: url('fotoL.png');
  width: 100%;               
  height: 800px;             
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat; 
}

.nav {
  background-color: rgba(0,0,0,0.5); 
  height: 100px;                    
  display: flex;
  justify-content: center;            
  align-items: center;               
}

.navdiv ul {
  list-style: none;                  
  display: flex;                     
  gap: 50px;                         
  align-items: center;               
  margin: 0;
  padding: 0;
}

.navdiv ul li a {
  text-decoration: none;
  color: #ffd2d2;
  font-weight: bold;
  font-size: 20px;
}

.navdiv ul li h2 a {
  font-size: 44px;                  
  font-weight: bold;
  text-decoration: none;
  color: #ffd2d2;
}

/* .nav{
    background-color: hsla(0, 0%, 0%, 0.51);
    height: 125px;
}
.navdiv{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;

}  
li{
    display: inline-block;
}
li a{
    color: #d19e9e;
    margin: 25px;
}
     */
ul{
    font-family: 'Cormorant Garamond', serif;
  font-size: 36px;
  letter-spacing: 3px;
}


    p{
        font-family: 'Cormorant Garamond', serif;
        font-size: 30px;
        text-align: center;
        color: #926c6c;
    }